*.env*
!srcs/template_credential.env
!srcs/.env
srcs/data/postgres_data/*
!srcs/data/grafana_data/conf
srcs/data/grafana_data/
srcs/data/portainer_data/*
srcs/data/es_data/nodes/
srcs/data/django_data/my_env/*
**/node_modules/
**/*.log
**/*.tmp
**/*.temp
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/build/
**/dist/
**/*.pyc
**/__pycache__/
**/.env.local
db.sqlite3
srcs/data/redis_data/*
srcs/data/django_data/transcendence/profiles/migrations/__init__.py
srcs/data/django_data/transcendence/profiles/migrations/0001_initial.py
srcs/data/apm_server_data/*
srcs/data/elasticsearch_data/*
srcs/data/fleet_server_data/*

srcs/data/vault_data/data/vault.db
srcs/vault_root_token.gpg
.backup/
