*.env*
srcs/data/postgres_data/*
srcs/data/portainer_data/*
srcs/data/es_data/nodes/
srcs/data/django_data/my_env/*
**/node_modules/
**/*.log
**/*.tmp
**/*.temp
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/build/
**/dist/
**/*.pyc
**/__pycache__/
**/.env.local
db.sqlite3
