.leaveGroup-button {
	background-color: #ffffff0a;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
    padding: 2.5px 5px;
    text-align: center;
    margin: 2.5px; /* Space above the button */
    transition: transform 150ms, box-shadow 150ms;
	right: 0px;
	margin-left: 50px;
	margin-bottom: 5px; /* Space above the button */
	text-shadow: none;
	padding-top: 2px;
  }
  .leaveGroup-button:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  	transform: translateY(-2px);
 	 background: #ffffff0a;
  }

.sidebar {
    position: fixed;
    right: 0px;
    bottom: 10%; /* Adjust this to align both elements */
    display: flex;
    flex-direction: column;
    gap: 5%; /* Space between the two elements */
	z-index: 300;
	width: 5%;
	text-align: center;
	height: 70%;
	max-height: 70%;
	min-height: 70%;
	overflow-y: scroll;
	transition: width 0.3s ease;
	scrollbar-width: none;
	overflow-x: hidden
}

.friend-container {
    max-height: 70%;
    min-height: 70%;
    background: rgba(255, 255, 255, 0.088);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow-y: scroll;
    z-index: 200;
    pointer-events: auto;
    transition: width 0.3s ease;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.search-user {
    height: 4%;
    min-width: 50px;
	border-radius: 4px;
    z-index: 200;
    pointer-events: auto;
    transition: width 0.3s ease;
	opacity: 0;
}

.sidebar:hover .search-user {
	opacity: 1;
}

.add-friend-title{
	left: 0px;
	color: #0ef3f3;
	font-size: 15px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.add-friend-title:hover{
	color: #0ef3f3;
}

.profile-id-div {
	background: #ef0ef3;
}

.profile_id{
	font-size: 12px;
	opacity: 0;
	color:#ffffff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 1px;
	opacity: 0;
}

.profile_id:hover{
	color:#ffffff;
	opacity: 1;
}

.add-friend-div{
	opacity: 0;
	margin-bottom: -10px;
}

.add-friend-div:hover{
	opacity: 1;
	margin-bottom: -10px;
}


.sidebar:hover .add-friend-div {
	opacity: 1;
}
.sidebar:hover {
	width: 20%;
	text-align: left;
}

.sidebar:hover .friend-name {
    opacity: 1; /* Show all names when hovering over the container */
}

.sidebar:hover .friend-name-request {
    opacity: 1; /* Show all names when hovering over the container */
}

.sidebar:hover .profile_id {
    opacity: 1; /* Show all names when hovering over the container */
}

.sidebar:hover .search-input {
    opacity: 1; /* Show all names when hovering over the container */
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
	align-items: left;
	padding-left: 10px;
}

.friend {
    display: flex;
    align-items: center;
    position: relative;
}

.friend:hover {
	background-color: rgba(0, 0, 0, 0.209);
	cursor: pointer;
	border-radius: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.friend-name {
    position: relative;
    left: 15px; /* Adjust as needed to control distance from avatar */
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
	color: #0ef3f3; /* Neon cyan */
	text-shadow: 0 0 10px rgba(14, 243, 243, 0.8);
}


.friend-name-request {
    position: relative;
    left: 15px; /* Adjust as needed to control distance from avatar */
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
	color: #ef0ef3; /* Neon cyan */
	text-shadow: 0 0 10px #ff00ff;
}

.friend:hover .avatar {
    transform: scale(1.5);
}

.friend:hover .friend-status {
    opacity: 1;
}

.actions {
    display: none; /* Hidden by default */
    flex-direction: column;
    margin-top: 5px; /* Space between avatar/name and actions */
	right: 0px;
}

.friend:hover .actions {
    display: flex; /* Show actions on friend hover */
}

.group-list {
	background-color: #00000020;
	padding: 20%;
	margin-bottom: 20px;
	gap: 30px;
}

.friend-request-container {
	display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
	align-items: left;
	padding-left: 10px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-input {
	background: rgba(0, 0, 0, 0.42);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.7px);
	-webkit-backdrop-filter: blur(7.7px);
	border: 0px;
	color:#fcfcfc;
	padding-left: 5px;
	outline: none;
	opacity: 0;
}

.message-friend-button {
    background-color: #ffffff0a;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
    padding: 2.5px 5px;
    text-align: center;
    margin: 2.5px; /* Space above the button */
    transition: transform 150ms, box-shadow 150ms;
	right: 0px;
	margin-left: 50px;
	margin-bottom: 5px; /* Space above the button */
	text-shadow: none;
}

.message-friend-button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
	background: #ffffff0a;
}

.friend-status {
    position: absolute; /* Absolute positioning relative to .friend */
    top: 30px; /* Position it just below the avatar */
    left: 55px; /* Align it to the left */
    font-size: 8.5px;  /* Small text size */
    color: #ff00ff;
	opacity: 0;
    transition: transform 0.3s ease; /* Smoothly adjust position on hover */
}