.profile-section {	
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Add padding for better spacing on small screens */
	background: #00ffff00;
	margin-top: 5%;
}

.profile-container {
	scale: 0.8;
	bottom: 50px;
	position: relative;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.6);
    background: #00ffff00;
    width: 80%;
    max-width: 800px; /* Ensure a maximum width for better visibility */
    text-align: center;
    display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
}

.profile-content {
    display: auto;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff00a0;
    box-shadow: 0 0 15px #ff00a0;
}

.profile-details {
    width: 100%;
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 10px;
}

.detail strong {
    color: #ff00a0;
}

.detail span {
    color: #ffffff;
}