.statistiques-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    background-color: #ff000000;
}

/* Central bento box container */
.bento-stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    max-width: 1200px;
    opacity: 0;
    animation: fadeInUp 1.5s ease forwards;
    padding: 2em;
	left: 50%;
	scale: 0.7;
}

/* Varying size bento boxes */
.box {
    background: rgba(255, 255, 255, 0.05);
    padding: 2em;
    border-radius: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.6);
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.box h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    font-weight: 500;
}

.box p,
.box ul {
    color: #d0d0d0;
    font-size: 1rem;
    opacity: 0.8;
}

/* Defining varying sizes */
.box.hours-played {
    grid-column: span 2;
    grid-row: span 2;
}

.box.total-wins {
    grid-column: span 2;
    grid-row: span 1;
    background: rgba(
        0,
        150,
        255,
        0.7
    ); /* Distinct color for the Projects box */
    border: 2px solid rgba(0, 100, 200, 0.8); /* Border for emphasis */
    transition: background 0.3s ease; /* Transition effect */
}

.box.total-looses {
    grid-column: span 1;
    grid-row: span 2;
}

.box.best-streak {
    grid-column: span 1;
    grid-row: span 1;
}

.box.games-played {
    grid-column: span 1;
    grid-row: span 1;
    background: rgba(
        0,
        150,
        255,
        0.7
    ); /* Distinct color for the Projects box */
    border: 2px solid rgba(0, 100, 200, 0.8); /* Border for emphasis */
    transition: background 0.3s ease; /* Transition effect */
}

.box.play-time {
    grid-column: span 1;
    grid-row: span 1;
    background: rgba(
        0,
        150,
        255,
        0.7
    ); /* Distinct color for the Projects box */
    border: 2px solid rgba(0, 100, 200, 0.8); /* Border for emphasis */
    transition: background 0.3s ease; /* Transition effect */
}

.box.skills-mastered {
    grid-column: span 2;
    grid-row: span 1;
}

.box.skills ul,
.box.projects ul {
    list-style: none;
    padding: 0;
}

.box.skills ul li,
.box.projects ul li {
    padding: 5px 0;
}

.box:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
