* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body.blue {
    background-color: #428aa6;
}

input[type=radio] {
    display: none;
}

.stats_card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    color: #ff00a0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 160, 0.6);
    background-color: #e230b8; /* Ensure background color is set */
    opacity: 1; /* Ensure the element is fully opaque */
    visibility: visible; /* Ensure the element is visible */
}

.stats_container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.stats_cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 130px;
    background-color: #e230b8; /* Ensure background color is set */
}

.stats_card p {
    font-size: 18px;
    color: #ffffff;
}

#item-1:checked ~ .stats_cards #song-3,
#item-2:checked ~ .stats_cards #song-1,
#item-3:checked ~ .stats_cards #song-2 {
    transform: translateX(-40%) scale(.8);
    opacity: .2;
    z-index: 0;
}

#item-1:checked ~ .stats_cards #song-2,
#item-2:checked ~ .stats_cards #song-3,
#item-3:checked ~ .stats_cards #song-1 {
    transform: translateX(40%) scale(.8);
    opacity: .2;
    z-index: 0;
}

#item-1:checked ~ .stats_cards #song-1,
#item-2:checked ~ .stats_cards #song-2,
#item-3:checked ~ .stats_cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.stats_player {
    background-color: #00000000;
    border-color: #ff00a0;
    border-style: double;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
    box-shadow: 0 0 30px rgba(255, 0, 160);
}

.stats_upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 45px;
    overflow: hidden;
}

.stats_title {
    color: #fefefe;
    text-shadow: 0 0 5px #e230b8, 0 0 6px #ff00b3, 0 0 10px #ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.stats_sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.stats_subtitle, .stats_time {
    font-size: 20px;
    color: #c6c5c6;
    width: 100%;
}

.stats_info-area {
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform .4s ease-in;
}

#item-1:checked ~ .stats_player #test {
    transform: translateY(0);
}

#item-2:checked ~ .stats_player #test {
    transform: translateY(-50px);
}

#item-3:checked ~ .stats_player #test {
    transform: translateY(-90px);
}

.statistiques-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    background-color: #ff000000;
}
