playing-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(14,4,65,1) 100%, rgba(18,4,88,1) 100%);
  }
  
  #splineContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
  }
  
  #splineContainer.small {
    width: 300px;
    height: 300px;
  }
  
  #splineContainer.big {
    width: 800px;
    height: 600px;
  }
  
  
  
  
  #resizeButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #e230b8;
     box-shadow:  0 0 5px #e230b8,  0 0 8px #e230b8;
    line-height: 42px;
    padding: 0;
    border: none;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
    color: ff00a0;
  }
  
  #resizeButton:hover{
    background-color: transparent;
    color: #e230b8;
    box-shadow: 0 5px 3px -3px #e230b8, 0 -5px 3px -3px #e230b8,
      0 5px 3px -3px #e230b8, 0 -5px 3px -3px #e230b8;
  }
  #resizeButton:before,
  #resizeButton:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 50%;
    right: 0;
    z-index: -1;
    background: #e230b8;
    box-shadow: 0 0 5px #e230b8;
    transition: all 0.3s ease;
  }
  #resizeButton:before {
    top: 0;
  }
  #resizeButton:after {
    bottom: 0;
  }
  #resizeButton:hover:before,
  #resizeButton:hover:after {
    height: 0;
    background-color: #e230b8;
  }